.gilda {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .btn{
padding: 15px 30px;
background-color: orange;
font-weight: 800;
color: white;
border-radius: 10px;
border: none;

}

.about-titel{
  font-size: 45px;
  font-weight: bold;
 margin-bottom: 0;
}
.bg {
  background-color: #FFF8F3;
}
.center{
 text-align: center;
}








header{
  background-image: url('../img/developer.png'), url('../img/header_bg.png') ;
  background-repeat: no-repeat;
  background-position: top left, bottom right;



}
  .tittel{
    font-size: 20px ;
font-weight: 800;

}
.h{
    color: orange;
}

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
  }
  .ul{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item{
    list-style: none;
    margin-right: 50px;

  }
  .link{
    text-decoration: none;
    font-size: 20px;
color: black;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
  }
  
.banner-tittel{
  font-size: 45px;
  font-weight: 600px;
  margin-bottom:0 ;
}
.banner-discription{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;

}
.prapra{
  text-align: justify;
  color: black;
}
  .banner-img{
    width: 100%px;

  }
  main{
    max-width: 940px;
    margin: 0 auto;
    
  }
  .about{
    text-align: center;
    padding:30px 100px  ;
    border-radius: 10px;
    margin-top: 130px;
  }
  .items{
    display: flex;
    justify-content: space-around;
  }
  .item-titel{
    font-size: 20px;
    font-weight: 100;
  }
  .item-discription{
    font-weight: bold;
  }
  .skils{
    padding: 30px 100px ;
    margin-top: 100px;
  }

.skills-containar{
  display: flex;
  gap: 20px;
 
}

.skills{
  padding:30px ;
border-radius: 10px;
box-shadow: 0 6px 50px 0 rgba(0,0,0,0.06) ;
}

.skills-discribtion{
  text-align: justify;
  margin-bottom: 0;
}



/* summary resume*/
.resumes{
  margin-top: 130px;
}
.resume{
  display: flex;
  gap: 20px;
}
.ex-titel{
  margin-bottom: 0px;
}
hr{
  margin: 30px 0px;
}
.button{
  margin-top: 30px;
}


/* contack*/

.footer{
  margin-top: 130px;
  padding: 130px 230px;
  display: flex;
  gap: 20px;
}
.contack{
  width: 50%;
}
.contack-tite{
  font-weight: bold;
}
.icon{
  margin: 0 10px;
}
.icon i{
  margin: 0 10px;
font-size: 30px;
color: orange;
}
input, textarea{
  background-color: white;
  border: none;
 height: 40px;
 display: block;
 padding: 10px 20px;
 border-radius: 10px;
 width: 100%;
 margin-bottom:24px ;
 resize: none;
}
textarea{
  height: 200px;
  
}


@media screen and (max-width:576px) {
  .skills-containar, 
  .resume,
  .banner,
  nav ,
  .ul  {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
.footer ,.about ,.items,.item{
flex-direction: column;
padding: 10px;

}

.contack{
    width: 100%;
  }
  input, textarea{
    width:calc(100% - 20px);
    padding: 0 10px;
  }
 header{
  background-image: none;
 }
 

 
}
